a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(119, 117, 117);
}

.h1 {
    padding-left: 20px;
    margin: 10px 10px 10px 10px;
}

.topList {
    float: left;
    font-size: 30px;
    margin: 50px 15%;
}
