nav {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 10%;
}

#menu {
    width: 500px;
    height: 50%;
    border-right: 1px solid #ddd;
    background-color: rgb(172, 177, 196);
    position: fixed; 
    text-align: center;
    color: white;
}
#menu li a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: inherit
}
#menu li:hover { background-color: rgb(99, 151, 149); }

li { 
    list-style: none;
    padding: 15px;
}
.li2 {
    width: 500px;
    border-right: 1px solid #ddd;
    background-color: rgb(172, 177, 196);
    text-align: center;
    color: white;
}

h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hide { display: none; }

#loaction_btn {
    color: rgb(58, 58, 255);
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 20px;
    padding: 10px 70px 10px 70px;
}
#loaction_btn:hover {
    background-color: rgb(238, 238, 238);
}

/*Map Api Css*/
#map { 
    display: inline-block;
    margin-left: 530px; 
    margin-top: 80px;
}

#mapLayer { 
    display: inline;
    margin-left: 530px; 
}

.olControlAttribution{ right:20px; }
.olControlLayerSwitcher{ right:20px; top:20px; }
